@using webbanhang.Models

@functions {
    public MyDBContext db = new MyDBContext();
    public List<ItemCategory> GetCategories(int _CategoryId)
    {
        List<ItemCategory> list_record = db.Categories.Where(item => item.ParentId == _CategoryId).OrderByDescending(item => item.Id).ToList();
        return list_record;
    }
    public List<ItemTag> GetTags()
    {
        List<ItemTag> list_record = db.Tags.OrderByDescending(item => item.Id).ToList();
        return list_record;
    }
}
<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>MyWebsite</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/Frontend/frontend/assets/img\favicon.png">

    <!-- all css here -->
    <link rel="stylesheet" href="~/Frontend/frontend/assets/css\bootstrap.min.css">
    <link rel="stylesheet" href="~/Frontend/frontend/assets/css\plugin.css">
    <link rel="stylesheet" href="~/Frontend/frontend/assets/css\bundle.css">
    <link rel="stylesheet" href="~/Frontend/frontend/assets/css\style.css">
    <link rel="stylesheet" href="~/Frontend/frontend/assets/css\responsive.css">
    <script src="~/Frontend/frontend/assets/js\vendor\modernizr-2.8.3.min.js"></script>
</head>
<body>
    <!-- Add your site or application content here -->
    <!--pos page start-->
    <div class="pos_page">
        <div class="container">
            <!--pos page inner-->
            <div class="pos_page_inner">
                @Html.Partial("~/Views/Shared/Header.cshtml")
                <!--header end -->
                <!--pos home section-->
                <div class=" pos_home_section">
                    <div class="row pos_home">
                        <div class="col-lg-3 col-md-8 col-12">
                            <!--sidebar banner-->
                            <div class="sidebar_widget banner mb-35">
                                <div class="banner_img mb-35">
                                    <a href="#"><img src="~/Frontend/frontend/assets/img\banner\banner5.jpg" alt=""></a>
                                </div>
                                <div class="banner_img">
                                    <a href="#"><img src="~/Frontend/frontend/assets/img\banner\banner6.jpg" alt=""></a>
                                </div>
                            </div>
                            <!--sidebar banner end-->
                            <!--categorie menu start-->
                            <div class="sidebar_widget shop_c">
                                <div class="sidebar_widget catrgorie mb-35">
                                    <h3>Categories</h3>
                                    <ul class="list-category">
                                        @{
                                            //lay cac danh muc cap 0 (danh muc cha)
                                            var categories = GetCategories(0);
                                        }
                                        @foreach (var row in categories)
                                        {
                                            //lay danh muc con
                                            var categories_sub = GetCategories(row.Id);
                                            <li class="has-sub">
                                                <a href="/Products/Categories/@row.Id">@row.Name</a>
                                                @if (categories_sub.Count > 0)
                                                {

                                                    <ul class="categorie_sub">
                                                        @foreach (var item_sub in categories_sub)
                                                        {
                                                            <li class="category-item"><a href="/Products/Categories/@item_sub.Id" class="cate-link">@item_sub.Name</a></li>
                                                        }
                                                    </ul>
                                                }

                                            </li>

                                        }
                                    </ul>

                                </div>


                            </div>
                            <!--categorie menu end-->
                            <!--wishlist block start-->
                            @* <div class="sidebar_widget wishlist mb-35">
                                <div class="block_title">
                                    <h3><a href="#">Wishlist</a></h3>
                                </div>
                                <div class="cart_item">
                                    <div class="cart_img">
                                        <a href="#"><img src="~/Frontend/frontend/assets/img\cart\cart.jpg" alt=""></a>
                                    </div>
                                    <div class="cart_info">
                                        <a href="#">lorem ipsum dolor</a>
                                        <span class="cart_price">$115.00</span>
                                        <span class="quantity">Qty: 1</span>
                                    </div>
                                    <div class="cart_remove">
                                        <a title="Remove this item" href="#"><i class="fa fa-times-circle"></i></a>
                                    </div>
                                </div>
                                <div class="cart_item">
                                    <div class="cart_img">
                                        <a href="#"><img src="~/Frontend/frontend/assets/img\cart\cart2.jpg" alt=""></a>
                                    </div>
                                    <div class="cart_info">
                                        <a href="#">Quisque ornare dui</a>
                                        <span class="cart_price">$105.00</span>
                                        <span class="quantity">Qty: 1</span>
                                    </div>
                                    <div class="cart_remove">
                                        <a title="Remove this item" href="#"><i class="fa fa-times-circle"></i></a>
                                    </div>
                                </div>
                                <div class="block_content">
                                    <p>2  products</p>
                                    <a href="#">» My wishlists</a>
                                </div>
                            </div> *@
                            <!--wishlist block end-->
                            <!--popular tags area-->
                            <div class="sidebar_widget tags  mb-30">
                                <div class="block_title">
                                    <h3>popular tags</h3>
                                </div>
                                <div class="block_tags">
                                    @{
                                        var tags = GetTags();
                                    }
                                    @foreach (var item in tags)
                                    {

                                        <a href="/Products/Tag?tag_id=@item.Id">@item.Name</a>
                                    }

                                </div>
                            </div>
                            <!--popular tags end-->
                            <!--newsletter block start-->
                            <div class="sidebar_widget newsletter mb-35">
                                <div class="block_title">
                                    <h3>newsletter</h3>
                                </div>
                                <form action="#">
                                    <p>Sign up for your newsletter</p>
                                    <input placeholder="Your email address" type="text">
                                    <button type="submit">Subscribe</button>
                                </form>
                            </div>
                            <!--newsletter block end-->
                            <!--sidebar banner-->
                            <div class="sidebar_widget bottom ">
                                <div class="banner_img">
                                    <a href="#"><img src="~/Frontend/frontend/assets/img\banner\banner9.jpg" alt=""></a>
                                </div>
                            </div>
                            <!--sidebar banner end-->
                        </div>
                        @RenderBody()
                    </div>
                </div>
                <!--pos home section end-->
            </div>
            <!--pos page inner end-->
        </div>
    </div>
    <!--pos page end-->
    <!--footer area start-->
    <div class="footer_area">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer_widget">
                            <h3>About us</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <div class="footer_widget_contect">
                                <p><i class="fa fa-map-marker" aria-hidden="true"></i>  19 Interpro Road Madison, AL 35758, USA</p>

                                <p><i class="fa fa-mobile" aria-hidden="true"></i> (012) 234 432 3568</p>
                                <a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i> Contact@plazathemes.com </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer_widget">
                            <h3>My Account</h3>
                            <ul>
                                <li><a href="#">Your Account</a></li>
                                <li><a href="#">My orders</a></li>
                                <li><a href="#">My credit slips</a></li>
                                <li><a href="#">My addresses</a></li>
                                <li><a href="#">Login</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer_widget">
                            <h3>Informations</h3>
                            <ul>
                                <li><a href="#">Specials</a></li>
                                <li><a href="#">Our store(s)!</a></li>
                                <li><a href="#">My credit slips</a></li>
                                <li><a href="#">Terms and conditions</a></li>
                                <li><a href="#">About us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer_widget">
                            <h3>extras</h3>
                            <ul>
                                <li><a href="#"> Brands</a></li>
                                <li><a href="#"> Gift Vouchers </a></li>
                                <li><a href="#"> Affiliates </a></li>
                                <li><a href="#"> Specials </a></li>
                                <li><a href="#"> Privacy policy </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_bottom">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6">
                        <div class="copyright_area">
                            <ul>
                                <li><a href="#"> about us </a></li>
                                <li><a href="#">  Customer Service  </a></li>
                                <li><a href="#">  Privacy Policy  </a></li>
                            </ul>
                            <p>Copyright &copy; 2018 <a href="#">Pos Coron</a>. All rights reserved. </p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="footer_social text-right">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                <li><a class="pinterest" href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-wifi" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--footer area end-->
    <!-- modal area start -->
    <div class="modal fade" id="modal_box" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal_body">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5 col-md-5 col-sm-12">
                                <div class="modal_tab">
                                    <div class="tab-content" id="pills-tabContent">
                                        <div class="tab-pane fade show active" id="tab1" role="tabpanel">
                                            <div class="modal_tab_img">
                                                <a href="#"><img src="~/Frontend/frontend/assets/img\product\product13.jpg" alt=""></a>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="tab2" role="tabpanel">
                                            <div class="modal_tab_img">
                                                <a href="#"><img src="~/Frontend/frontend/assets/img\product\product14.jpg" alt=""></a>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="tab3" role="tabpanel">
                                            <div class="modal_tab_img">
                                                <a href="#"><img src="~/Frontend/frontend/assets/img\product\product15.jpg" alt=""></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal_tab_button">
                                        <ul class="nav product_navactive" role="tablist">
                                            <li>
                                                <a class="nav-link active" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="false"><img src="~/Frontend/frontend/assets/img\cart\cart17.jpg" alt=""></a>
                                            </li>
                                            <li>
                                                <a class="nav-link" data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false"><img src="~/Frontend/frontend/assets/img\cart\cart18.jpg" alt=""></a>
                                            </li>
                                            <li>
                                                <a class="nav-link button_three" data-toggle="tab" href="#tab3" role="tab" aria-controls="tab3" aria-selected="false"><img src="~/Frontend/frontend/assets/img\cart\cart19.jpg" alt=""></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-12">
                                <div class="modal_right">
                                    <div class="modal_title mb-10">
                                        <h2>Handbag feugiat</h2>
                                    </div>
                                    <div class="modal_price mb-10">
                                        <span class="new_price">$64.99</span>
                                        <span class="old_price">$78.99</span>
                                    </div>
                                    <div class="modal_content mb-10">
                                        <p>Short-sleeved blouse with feminine draped sleeve detail.</p>
                                    </div>
                                    <div class="modal_size mb-15">
                                        <h2>size</h2>
                                        <ul>
                                            <li><a href="#">s</a></li>
                                            <li><a href="#">m</a></li>
                                            <li><a href="#">l</a></li>
                                            <li><a href="#">xl</a></li>
                                            <li><a href="#">xxl</a></li>
                                        </ul>
                                    </div>
                                    <div class="modal_add_to_cart mb-15">
                                        <form action="#">
                                            <input min="0" max="100" step="2" value="1" type="number">
                                            <button type="submit">add to cart</button>
                                        </form>
                                    </div>
                                    <div class="modal_description mb-15">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
                                    </div>
                                    <div class="modal_social">
                                        <h2>Share this product</h2>
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- modal area end -->
    <!-- all js here -->
    <script src="~/Frontend/frontend/assets/js\vendor\jquery-1.12.0.min.js"></script>
    <script src="~/Frontend/frontend/assets/js\popper.js"></script>
    <script src="~/Frontend/frontend/assets/js\bootstrap.min.js"></script>
    <script src="~/Frontend/frontend/assets/js\ajax-mail.js"></script>
    <script src="~/Frontend/frontend/assets/js\plugins.js"></script>
    <script src="~/Frontend/frontend/assets/js\main.js"></script>
</body>
</html>
